.cart-item {
    padding: 10px;
    margin-bottom: 10px;
    &__wrapper {
        padding: 10px;
        box-shadow: 0px 0px 1px 1px black;
        border-radius: 15px;
    }
    &__row {
        display: flex;
        margin-bottom: 10px;
        font-size: 25px;
        justify-content: space-evenly;
    }
    &__image {
        margin-right: 10px;
        flex: 0 1 50%;
        img {
            border-radius: 20px 0px 20px 0px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__body {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
    }
    &__available {
        margin-bottom: 10px;
        span {
            font-weight: bold;
        }
    }
    &__icon {
        text-align: right;
        font-size: 20px;
        cursor: pointer;
    }
    &__price {
        color: green;
        font-weight: 700;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    &__title {
        margin-bottom: 10px;
        font-weight: bold;
        h2 {
            text-align: left;
        }
    }
    &__description {
        flex: 1 1 auto;
        margin-bottom: 10px;
    }
    &__counter {
        margin: 0 auto;
        border: 2px solid #060606;
        border-radius: 10px;
        padding: 5px 15px;
        cursor: pointer;
        span {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
@media (max-width: 1024px) {
    .cart-item {
        &__body {
            font-size: 20px;
        }
    }
}
@media (max-width: 683px) {
    .cart-item {
        &__body {
            font-size: 25px;
        }
        &__counter {
            font-size: 20px;
        }
    }
}
@media (max-width: 587px) {
    .cart-item {
        &__body {
            font-size: 20px;
        }
        &__counter {
            font-size: 18px;
        }
    }
}
@media (max-width: 500px) {
    .cart-item {
        &__body {
            font-size: 16px;
        }
        &__counter {
            font-size: 14px;
        }
    }
}
