.ci {
    border: 2px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 15px;

    &__wrapper {
    }
    &__content {
        display: flex;
    }
    &__image {
        flex: 0 1 50%;
        margin-right: 10px;
        margin-bottom: 10px;
        img {
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__body {
        flex: 0 1 50%;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2,
        h3,
        p {
            margin-bottom: 5px;
        }
        h3 {
            font-weight: bold;
            color: rgb(58, 144, 74);
        }
    }
    &__counter {
        border-radius: 10px;
        border: 1px solid black;
        padding: 5px 10px;

        span {
            display: inline-block;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            margin: 0px 10px 0px;
        }
    }
    &__delete {
        font-size: 20px;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 800px) {
    .ci {
        max-width: 350px;
        margin: 0 auto 10px;
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__image {
            margin-right: 0px;
        }
    }
}
