.cart {
    padding: 0px 20px;

    h2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &__row {
        display: flex;
        gap: 15px;
    }
    &__column {
        flex: 0 1 50%;
        position: relative;
        h2 {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-advice {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__result {
        margin-bottom: 20px;
        margin-top: 10px;
        &-desktop {
            position: sticky;
            top: 100px;
        }
        &-mobile {
            display: none;
        }
    }
}
@media (max-width: 683px) {
    .cart {
        position: relative;
        &__column {
            h2 {
                font-size: 18px;
            }
        }
        &__row {
            flex-direction: column;
            margin-right: 0px;
        }
        &__result {
            &-desktop {
                display: none;
            }
        }
        &__result {
            background-color: white;
            &-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                position: sticky;
                bottom: 0;
                left: 50%;
            }
        }
    }
}
.cr {
    border: 3px solid black;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    &__items {
        font-size: 0.8em;
        flex: 1 1 auto;
        margin-bottom: 20px;
    }
    &__item {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        text-decoration: underline;
    }
    &__button {
        background-color: rgb(15, 15, 143);
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-size: 16px;
        text-align: center;
    }
}
@media (max-width: 874px) {
    .cr {
        width: 100%;
        max-width: 400px;
        max-height: 150px;
        font-size: 22px;
        &__item {
            margin-bottom: 10px;
        }
        &__button {
            padding: 5px 10px;
            font-size: 14px;
        }
    }
}
@media (max-width: 683px) {
    .cr {
        margin: 5px;
        font-size: 20px;
        &__title {
            text-align: center;
        }
        &__item {
            margin-bottom: 15px;
        }
        &__button {
            margin: 0px;
        }
    }
}
