.fc {
    min-height: 100vh;
    display: flex;
    &__body {
        flex: 1 1 auto;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 10px;
    }
    &-auth {
        background-image: url(../asserts/background-for-form.png);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.home {
    background: url(../asserts/background-for-home-page.webp) 0 0 / cover
        no-repeat;

    padding: 10px 0px;
    margin-bottom: 60px;

    &__body {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title,
    &__subtitle {
        color: #060825;
        margin-bottom: 10px;
    }
    &__title {
        font-weight: 700;
        font-size: 100px;
    }
    &__subtitle {
        font-size: 40px;
    }
    &__scrolldown {
        font-size: 25px;
        text-decoration: underline;
    }
}
@media (max-width: 767px) {
    .home {
        background: url(../asserts/background-for-home-page-mobile.webp) 0 0 /
            cover no-repeat;
    }
}
@media (max-width: 491px) {
    .home {
        margin-bottom: 30px;
        &__title {
            font-weight: 700;
            font-size: 60px;
        }
        &__subtitle {
            font-size: 30px;
        }
        &__scrolldown {
            font-size: 20px;
            text-decoration: underline;
        }
    }
}
