.ldr {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    z-index: 100;
    /* color: #e82d2d; */
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 3s linear infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 white, 0px 0 white, 0px 0 white, 0px 0 white;
    }
    12% {
        box-shadow: 100px 0 black, 0px 0 white, 0px 0 white, 0px 0 white;
    }
    25% {
        box-shadow: 110px 0 black, 100px 0 black, 0px 0 white, 0px 0 white;
    }
    36% {
        box-shadow: 120px 0 black, 110px 0 black, 100px 0 black, 0px 0 white;
    }
    50% {
        box-shadow: 130px 0 black, 120px 0 black, 110px 0 black, 100px 0 black;
    }
    62% {
        box-shadow: 200px 0 white, 130px 0 black, 120px 0 black, 110px 0 black;
    }
    75% {
        box-shadow: 200px 0 white, 200px 0 white, 130px 0 black, 120px 0 black;
    }
    87% {
        box-shadow: 200px 0 white, 200px 0 white, 200px 0 white, 130px 0 black;
    }
    100% {
        box-shadow: 200px 0 white, 200px 0 white, 200px 0 white, 200px 0 white;
    }
}
