.dialog {
    display: none;
    padding: 0px 20px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    &.active {
        display: flex;
    }
    &__content {
        padding: 10px;
        border-radius: 15px;
        background-color: white;
        max-height: 600px;
        min-width: 300px;
        max-width: 900px;
    }
}
