.scrollbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    color: #060825;
    background: transparent;
    font-size: 30px;
}
