.App {
    flex: 1 0 auto;
}
.wrapper {
    max-width: 1200px;
    margin: 100px auto 0px;
}
.nodata {
    text-align: center;
    font-weight: bold;
    &::first-letter {
        text-transform: uppercase;
    }
}
.loader {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-forCart {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-10%, -50%);
    }
}
