.App {
    flex: 1 0 auto;
}
.wrapper {
    max-width: 1200px;
    margin: 100px auto 0px;
}
.nodata {
    text-align: center;
    font-weight: bold;
    &::first-letter {
        text-transform: uppercase;
    }
}
