.cabinet {
    padding: 10px;
    position: relative;
    h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__user {
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20px;
        padding: 10px;
    }
    &-unauth {
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 20px;
        max-width: 270px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        h2 {
            margin-bottom: 10px;
        }
        p {
            font-size: 0.9em;
            margin-bottom: 10px;
        }
        a {
            display: inline-block;
            font-size: 14px;
            box-shadow: 1px 1px 1px 1px black;
            border-radius: 20px;
            background: transparent;
            padding: 5px 10px;
            color: black;
            transition: all 0.3s ease-in;
            &:active {
                font-size: 16px;
            }
            &:hover {
                box-shadow: 0px 0px 2px 2px black;
            }
        }
    }
    &__showmeOrders {
        max-width: 300px;
        margin: 20px auto 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px black;
        button {
            font-size: 80px;
        }
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &-orders {
        box-shadow: 1px 1px 1px 1px black;
        border-radius: 15px;
        padding: 15px;
        max-height: 400px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    &__image {
        max-width: 150px;
        margin-right: 10px;
        img {
            border-radius: 50%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    &__name {
        text-align: left;
        padding: 0px 10px;
        h2 {
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            text-align: left;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__stats {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.us {
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-weight: bold;
        border: 2px solid black;
        padding: 5px;
        border-radius: 15px;
        &:last-child {
            margin-right: 0px;
        }
        span {
            margin: 0px 5px 0px;
            font-size: 14px;
        }
    }
}
@media (max-width: 477px) {
    .us {
        &__item {
            span {
                margin: 2px 5px 0px;
            }
        }
    }
}
@media (max-width: 815px) {
    .user {
        flex-wrap: wrap;
        justify-content: center;
        &-orders {
            padding: 10px;
        }
        &__info {
            margin-bottom: 15px;
        }
        &__name {
        }
    }
}
@media (max-width: 767px) {
    .cabinet {
        &__showmeOrders {
            max-width: 240px;
            button {
                font-size: 60px;
            }
            h2 {
                font-size: 14px;
            }
        }
    }
}
